body{
  padding:0px;
  margin:0px;
  background-color: black;
}
footer{
  background-color:rgba(0, 0, 0, 0.212);
}


.titre{
  position: absolute;
  width: 100%;
  top: 10%;
  text-align: center;
  font-family: sans-serif; font-size: 30px;
  color: rgb(1, 1, 7);
}
.pays{
  position: absolute;
  width: 100%;
  top: 35%;
  left:25%;
  text-align: center;
  font-family: sans-serif; font-size: 30px;
  color: rgb(0, 0, 0);
}
.ville{
  position: absolute;
  width: 100%;
  top: 35%;
  right:25%;
  text-align: center;
  font-family: sans-serif; font-size: 30px;
  color: rgb(0, 0, 0);
}
.auteur{
  position: absolute;
  width: 100%;
  top: 75%;
  text-align: center;
  font-family: sans-serif; font-size: 30px;
  color: rgb(0, 0, 0);
}

a div{
  background-color:rgba(0, 0, 0, 0.30);
}



.txt{
  display:block;
  color:black;
  font-size:25px;
}
.centered-bottom.txt{
  font-size:20px;

}

.container {
  position: relative;
  text-align: center;
  color: white;
}



.top-left {
  position: absolute;
  top: 30%;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 30%;
  right: 16px;
}

.centered-bottom {
  position: absolute;
  bottom: 5%;
  left:50%;    
}

.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight:bold;
}

.descript{
  position: absolute;
  bottom: 10%;
  left:10%; 
  font-weight:lighter; 
  width:80%;
}

.descript:hover{
  font-weight:bolder; 
  width:80%;
  left:10%;
}

.pics{
  min-width: 100px;;
}

.promnadeInfo h1{

  color: rgb(167, 37, 37);
  font-size: 50px;
  font-weight: 700;
  background-color: black;
  opacity: 0.7;
  border-radius: 5%;
}

.promnadeInfo h2{

  color: rgb(61, 221, 88);
  font-size: 25px;
  font-weight: 400;
  background-color: black;
  opacity: 0.7;
  border-radius: 5%;

}

.promnadeInfo p{

  color: rgb(72, 50, 195);
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  background-color: black;
  opacity: 0.7;
  border-radius: 5%;
}

.modif{
  background-image: url('assets/bgjean.jpg');
  background-size: cover;
}
input{
  background-color:rgba(0, 0, 0, 0.075);
}
.mesCartes{
  background-color:black;
  color:rgba(255, 255, 255, 0.712);


}